{
    "openapi": "3.0.0",
    "info": {
        "title": "WhatsApp Ecommerce API",
        "description": "API documentation for the WhatsApp Ecommerce backend",
        "contact": {
            "email": "lilianlynda@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/vendor/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register a new Vendor",
                "operationId": "4b5a9cce35ac1e2d7983f02fbc820650",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "fullname",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "fullname": {
                                        "type": "string",
                                        "example": "Jane Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "jane@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Registration successful"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            }
        },
        "/api/vendor/resend-email": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Resend email verification code",
                "operationId": "b962461fdf8d09efb34372f281c754c2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Verification code resent to email"
                    },
                    "400": {
                        "description": "Email already verified"
                    }
                }
            }
        },
        "/api/vendor/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login a user",
                "operationId": "64d838aca6a416df8e3da8607a7f7783",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "jane@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful"
                    },
                    "401": {
                        "description": "Invalid credentials"
                    },
                    "403": {
                        "description": "Email not verified"
                    }
                }
            }
        },
        "/api/vendor/password/forgot": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Request password reset",
                "operationId": "fcc588ad7d2fd778b3862293c8969bc7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reset code sent to email"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/vendor/resend-password-code": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Resend password reset code",
                "operationId": "7fc1e150360f8bfe7d8ff628822cb2dc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset code resent to email"
                    }
                }
            }
        },
        "/api/vendor/password/verify-code": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Verify password reset code",
                "operationId": "243abe95ad0c7ffa64792d2d7626fdbe",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "code"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "code": {
                                        "type": "string",
                                        "example": "ABC123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reset code verified. Proceed to reset password."
                    },
                    "400": {
                        "description": "Invalid or expired reset code."
                    }
                }
            }
        },
        "/api/vendor/password/reset": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Reset password with code",
                "operationId": "7198c3dba0d84f26e15e5b5192cdbd84",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "code",
                                    "new_password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "code": {
                                        "type": "string",
                                        "example": "ABC123"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "new_password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successful"
                    },
                    "400": {
                        "description": "Invalid or unverified reset code"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout user",
                "operationId": "08976e3e21e28ef693ee8e9a9fad61d9",
                "responses": {
                    "200": {
                        "description": "Logged out"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "Auth"
        }
    ]
}